@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.App {
  font-family: 'Jost', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  height: 100vh;
  background: linear-gradient(125deg, rgba(99, 50, 110, 1) 0%, rgba(99, 50, 110, 1) 50%, rgba(141, 220, 164, 1) 50%, rgba(141, 220, 164, 1) 100%)
}